<?xml version="1.0" encoding="UTF-8"?>
<beans:beans xmlns="http://www.springframework.org/schema/security" xmlns:beans="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
	http://www.springframework.org/schema/security
	http://www.springframework.org/schema/security/spring-security-3.2.xsd">

	<beans:bean id="webSecurityExpressionHandler" class="org.springframework.security.web.access.expression.DefaultWebSecurityExpressionHandler" />

	<http auto-config="true">
		<intercept-url pattern="/admin**" access="ROLE_ADMIN" />
		<!-- COURSE -->
		<intercept-url pattern="/course/my" access="ROLE_USER,ROLE_ADMIN" />
		<intercept-url pattern="/course/add" access="ROLE_USER,ROLE_ADMIN" />
		<intercept-url pattern="/course/manage" access="ROLE_USER,ROLE_ADMIN" />
		<intercept-url pattern="/course/join*" access="ROLE_USER,ROLE_ADMIN" />
		<intercept-url pattern="/course/edit*" access="ROLE_USER,ROLE_ADMIN" />
		<intercept-url pattern="/course/remove*" access="ROLE_USER,ROLE_ADMIN" />
		<intercept-url pattern="/course/show*" access="IS_AUTHENTICATED_ANONYMOUSLY" />
		<intercept-url pattern="/course/list" access="IS_AUTHENTICATED_ANONYMOUSLY" />
		
		<!--  GROUP -->
		<intercept-url pattern="/group/*" access="ROLE_USER,ROLE_ADMIN" />
		
		<!-- USER -->
		<intercept-url pattern="/user/*" access="ROLE_USER,ROLE_ADMIN" />
		
		<!-- MATERIAL -->
		<intercept-url pattern="/material/*" access="ROLE_USER,ROLE_ADMIN" />
		
		<!-- USER -->
		<intercept-url pattern="/resources/materials/*" access="ROLE_USER,ROLE_ADMIN" />
		
		<!-- TEST -->
		<intercept-url pattern="/test/*" access="ROLE_USER,ROLE_ADMIN" />
		
		<!-- TEST -->
		<intercept-url pattern="/question/*" access="ROLE_USER,ROLE_ADMIN" />
		
		
		<form-login login-page="/login" default-target-url="/" authentication-failure-url="/login?error"
			username-parameter="username" password-parameter="password" />
		<logout logout-success-url="/login?logout" />
		<remember-me key="webCourseKey" token-validity-seconds="2419200" /> <!-- 4 weeks remember -->
	</http>

	<beans:bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<beans:property name="driverClassName" value="com.mysql.jdbc.Driver" />
		<beans:property name="url" value="jdbc:mysql://localhost:3306/webCourses?generateSimpleParameterMetadata=true" />
		<beans:property name="username" value="root" />
		<beans:property name="password" value="" />
	</beans:bean>

<!-- 	<beans:bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource"> -->
<!-- 		<beans:property name="driverClassName" value="com.mysql.jdbc.Driver" /> -->
<!-- 		<beans:property name="url" value="jdbc:mysql://46.242.145.103:3306/to194519_courses?generateSimpleParameterMetadata=true" /> -->
<!-- 		<beans:property name="username" value="to194519_courses" /> -->
<!-- 		<beans:property name="password" value="MgWs[ydm2gUS" /> -->
<!-- 	</beans:bean> -->
	
	<authentication-manager>
		<authentication-provider>
			<password-encoder hash="md5" />
			<jdbc-user-service data-source-ref="dataSource" users-by-username-query="select email, password, enabled from users where email=?"
				authorities-by-username-query="select email, role from users where email=?" role-prefix="ROLE_" />
		</authentication-provider>
	</authentication-manager>

</beans:beans>